body {
    background-image: url("https://img.freepik.com/premium-photo/abstract-gradient-background-background-design_509471-38.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
}

.grid-container {
    width: 98%;
    height: 98%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto, 3);
    grid-template-rows: 8em auto auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid-item {
    padding: 20px;
}

/* grid placement */
header {
    grid-row: 1;
    grid-column: 1/3;
    padding: 10px;
}

#form-container {
    grid-row: 2;
    grid-column: 1;
}

#result {
    grid-row: 2;
    grid-column: 2/3;
    overflow: auto;
}
/*******************/

form table {
    padding: 10px;
    border-radius: 10px;
    margin: auto;   /* center in grid */
    background-color: rgba(255, 255, 255, 0.125);
    text-align: left;
}

form input {
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.66);
}

form .error {
    display: block;
    padding: 10px;
    color: darkred;
}

#result table {
    margin: auto;   /* center in grid */
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.125);
    width: 80%;
    height: 80%;
}

#result tr {
    background-color: rgb(104, 119, 255);
}

#result td {
    padding: 5px;
}

#result tr:first-child {
    background-color: rgb(180, 104, 255);
    position: sticky;
    top: 0;
}

#result td:first-child {
    background-color: rgb(180, 104, 255);
    position: sticky;
    left: 0;
}